.spacer {
    flex: 2 2 auto;
}

.mat-toolbar {
    background-color: white;
}

.mat-mdc-icon-button {
    margin-right: 6px;
    transition-duration: 1.5s;
    height: 49px;
}

.mat-mdc-icon-button:hover {
    background-color: rgb(255, 85, 85);
    animation-duration: 1s;
}

.logo {
    transition-duration: 1s;
}